In [1]:
import os
import glob
import subprocess
import pandas as pd

In [2]:
DATA_ROOT = "../data/"
SAVE_ROOT = "../processed_data/"

In [3]:
def get_raw_list():
    paths = []
    file_path = SAVE_ROOT + "list_category_8.txt"
    with open(file_path, 'r') as f:
        paths = f.readlines()
    return paths

In [4]:
list_category = get_raw_list()

In [5]:
import pycountry_convert as pc

def get_continent(country):
    
    continents = {
    'NA': 'North America',
    'EU': 'Europe',
    'SA': 'South America', 
    'AS': 'Asia',
    'OC': 'Australia',
    'AF': 'Africa',
    }
    
    try:
        if country == 'Taiwan':
            continent = 'Asia'
        else:
            country_code = pc.country_name_to_country_alpha2(country, cn_name_format="default")
            continent = continents[pc.country_alpha2_to_continent_code(country_code)]
    except:
        continent = ' '
    return continent

In [6]:
# filename the input file
def read_file(filename):
    df_raw = pd.read_csv(filename)
    # Select column we want
    df = df_raw.loc[:,['stroke_count','countrycode','drawing_time_total']]
    # Change millisec to sec
    df['drawing_time_total'] = df['drawing_time_total'].div(1000)
    # Change name of column
    df.columns = ['stroke_count','country','drawing_time']
    # Add count per country
    df['count'] = 1
    # Round number
    df = df.groupby('country').agg({'stroke_count': 'mean', 'drawing_time':'mean', 'count':'sum'}).round({'stroke_count':1,'drawing_time':2})
    # Reset index to column for csv file
    df.reset_index(level=0, inplace=True)
    # Count number of occurences by country
    df['word'] = df_raw['word'][0]
    # Get continent 
    df['continent'] = df['country'].apply(get_continent)
    # Get rid of unidentified country
#     df = df[df['continent'] != ' ']

    return df

In [7]:
frames = []
for path in list_category:
    raw_id = 'time_per_' + path.split('/')[-1].strip().replace(' ', '_') + '_stats.csv'
    local_path = os.path.join(DATA_ROOT, raw_id)
    df = read_file(local_path)
    frames.append(df)

In [8]:
df_concat = pd.concat(frames, axis=0).reset_index(drop=True)

In [9]:
df_concat

,country,stroke_count,drawing_time,count,word,continent
0,AN,1.0,1.26,1,circle,
1,Albania,1.4,2.48,34,circle,Europe
2,Algeria,1.5,2.42,165,circle,Africa
3,Angola,1.0,0.96,1,circle,Africa
4,Anguilla,1.0,1.65,1,circle,North America
5,Antigua and Barbuda,1.0,0.74,1,circle,North America
6,Argentina,1.2,2.36,278,circle,South America
7,Armenia,1.8,3.03,39,circle,Asia
8,Aruba,1.2,1.86,4,circle,North America
9,Australia,1.3,1.93,2752,circle,Australia
10,Austria,1.2,2.04,515,circle,Europe
11,Azerbaijan,1.4,2.16,24,circle,Asia
12,BU,1.0,2.97,1,circle,
13,Bahamas,1.1,2.37,16,circle,North America
14,Bahrain,1.3,2.14,102,circle,Asia
15,Bangladesh,1.4,2.57,57,circle,Asia
16,Barbados,1.0,4.33,2,circle,North America
17,Belarus,1.4,2.36,160,circle,Europe
18,Belgium,1.2,1.78,368,circle,Europe
19,Belize,1.0,1.16,4,circle,North America
20,Bermuda,1.3,2.36,9,circle,North America
21,Bhutan,1.0,0.65,1,circle,Asia
22,"Bolivia, Plurinational State of",1.0,1.46,11,circle,South America
23,Bosnia and Herzegovina,1.3,2.45,247,circle,Europe
24,Botswana,2.0,5.90,1,circle,Africa
25,Brazil,1.2,2.22,2502,circle,South America
26,Brunei Darussalam,1.2,2.00,39,circle,Asia
27,Bulgaria,1.3,2.22,491,circle,Europe
28,Cambodia,1.3,1.97,173,circle,Asia
29,Cameroon,1.0,1.40,1,circle,Africa
...,...,...,...,...,...,...
1376,South Africa,6.0,9.07,307,power outlet,Africa
1377,Spain,6.1,8.21,491,power outlet,Europe
1378,Sri Lanka,4.5,7.30,11,power outlet,Asia
1379,Suriname,4.0,7.50,7,power outlet,South America
1380,Sweden,6.0,8.15,2720,power outlet,Europe
1381,Switzerland,5.6,8.04,463,power outlet,Europe
1382,Taiwan,6.5,7.18,782,power outlet,Asia
1383,Tajikistan,3.0,6.13,1,power outlet,Asia
1384,"Tanzania, United Republic of",8.0,15.43,1,power outlet,Africa
1385,Thailand,7.4,9.34,1471,power outlet,Asia
1386,Trinidad and Tobago,6.6,9.78,46,power outlet,North America
1387,Tunisia,5.3,8.94,69,power outlet,Africa
1388,Turkey,5.9,8.02,640,power outlet,Asia
1389,Turkmenistan,5.0,6.04,1,power outlet,Asia
1390,Turks and Caicos Islands,7.0,6.15,1,power outlet,North America
1391,Uganda,7.2,13.40,5,power outlet,Africa
1392,Ukraine,5.8,8.58,701,power outlet,Europe
1393,United Arab Emirates,6.2,8.93,877,power outlet,Asia
1394,United Kingdom,6.2,9.09,10093,power outlet,Europe
1395,United States,5.9,8.16,90337,power outlet,North America
1396,Uruguay,6.1,8.95,33,power outlet,South America
1397,Uzbekistan,6.3,8.08,20,power outlet,Asia
1398,"Venezuela, Bolivarian Republic of",7.4,11.01,61,power outlet,South America
1399,Viet Nam,5.8,8.81,989,power outlet,Asia
1400,"Virgin Islands, U.S.",4.0,4.67,1,power outlet,North America
1401,Yemen,11.7,9.01,3,power outlet,Asia
1402,ZZ,5.6,8.35,114,power outlet,
1403,Zambia,6.0,8.80,2,power outlet,Africa
1404,Zimbabwe,5.0,6.85,2,power outlet,Africa
1405,Åland Islands,6.9,8.14,17,power outlet,Europe

In [10]:
df_concat.to_csv(SAVE_ROOT + 'time_and_stroke_continent.csv', index=False)